@charset "UTF-8";

/* ----- FONTES ----- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format(opentype);
}

/* ----- CONFIGURAÇÕES GLOBAIS ----- */
:root {
    --cor0: #bfffbf;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* ----- CONFIGURAÇÕES DE IMAGENS E VÍDEOS ----- */
img {
    width: 100%;    
    padding: 20px 0px;
}

.img-android-peq {
    max-width: 350px;
    display: block;
    margin: auto;
}

.externo::after {
    content: '\1F517';
}

.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 30px -25px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* ----- CONFIGURAÇÕES DO CORPO ----- */
body {
    font-family: var(--fonte0);
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte1);
    font-size: 50px;
    font-weight: normal;
    color: white;
    padding-top: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    margin: 0px;
}

header p {    
    padding: 10px 0px 20px 0px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);        
    font-size: 18px;
}

nav {
    background-color: var(--cor4);
    color: var(--cor3);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

nav a {    
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 250ms;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

main {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 25px;
    min-width: 400px;
    max-width: 850px;
    border-radius: 0px 0px 15px 15px;
}
@media (max-width: 800px){
        main {
        min-width: 0px;
    }
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
}

main a:hover{
    text-decoration: underline var(--cor4);
}

main h1 {
    font-family: var(--fonte2);
    font-size: 28px;
    font-weight: 500;
    margin: -5px 0px 10px 0px;
    color: var(--cor4);
}

main h2 {
    font-family: var(--fonte2);
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor4);
    text-indent: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 3px;
    background-image: linear-gradient(to right, var(--cor0), transparent);
}

main p {
    text-indent: 25px;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5em;
}

iframe {
    margin: auto;
    width: 100%;
}

aside {
    background-color: var(--cor0);
    border-radius: 15px;
    margin: 0px 15px;
    padding: 10px;
}


aside h3 {
    background-color: var(--cor3);
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    color: white;
    margin: -10px -10px 5px -10px;
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
    padding: 10px;
}

/* ----- CONFIGURAÇÕES DO RODAPÉ ----- */
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    border: 15px;
}

footer p {    
    margin: 20px 0px 0px 0px;
    padding: 10px;
    font-size: 16px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
